/* Fonts */

@font-face {
    font-family: "Cuprum";
    src: url("../fonts/cuprum.woff2") format("woff2"),
    url("../fonts/cuprum.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Cuprum Bold";
    src: url("../fonts/cuprumbold.woff2") format("woff2"),
    url("../fonts/cuprumbold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Cuprum Italic";
    src: url("../fonts/cuprumitalic.woff2") format("woff2"),
        url("../fonts/cuprumitalic.woff") format("woff");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Cuprum Bold Italic";
    src: url("../fonts/cuprumbolditalic.woff2") format("woff2"),
        url("../fonts/cuprumbolditalic.woff") format("woff");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/ptsans.woff2") format("woff2"),
        url("../fonts/ptsans.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "PT Sans Bold";
    src: url("../fonts/ptsansbold.woff2") format("woff2"),
        url("../fonts/ptsansbold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

/* Variables */

:root {
    --bright-red: #EE3643;
    --dark-green: #63A63E;
    --yellow: #FFD180;
    --light-blu: #3BBCE3;
    --lilac: #DC91D8;
    --light-green: #8ED78F;
    --dark-yellow: #FFC047;
    --deep-light-blue: #32425C;
    --deep-dark-blue: #293449;
    --basic-white: #ffffff;
    --basic-black: #000000;
    --color-bez: #F9F5F0;

    --color-backrgoud: #f3f7f8;
}

/* Global */
/* * {
    margin: 0;
    padding: 0;
} */
.page {
    height: 100%;
    width: 100%;
}
.page-body {
    width: 100%; 
    margin: 0 auto;
    padding: 0;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 22px;
    line-height: 20px;
    font-weight: 400;
    color: var(--basic-black); 
}
img {
    max-width: 100%;  /*такие же свойства добавить на myportfolio для всех картинок, это базовая настройка*/
    height: auto;
}
li {
    list-style: none;
    margin: 0;
}
/* h2 {
    margin: 0;
} */
a {
    text-decoration: none;
}
.hidden {
    visibility: hidden;
    position: absolute;
    left: -3000px;
    /* overflow: hidden; */
    width: 0;
    height: 0;
}
.all-button {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px 15px;
    color: var(--basic-white);
    background-color: var(--bright-red);   
}
.button a {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5); 
}
.header {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    width: 320px;
    padding-top: 50px;
    margin-left: 20px;
}

/* Navigation */

.main-header {
    background: var(--color-backrgoud);
    height: 350px;
}
.top-main-nav {

}
.content-size-one {
    width: 960px;
    height: 50px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;

    /* border: 2px solid red; */
}
.content-size-two {
    width: 960px;
    height: 150px;
    margin-top: 15px;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    /* border: 2px solid red; */
}
.top-main-nav-wrapper {
    width: 100%;
    height: 50px;
    background-color: var(--deep-dark-blue);
}
.main-logo-wrapper {
    display: block;
    padding: 0;
    margin: 0;
}
.logo-top {
    width: 110px;
    height: 45px;
    padding: 8px 58px;
    background-color: var(--bright-red);
    box-shadow: 0 -5px 0 0 rgb(0 0 0 / 24%) inset;
}
.wrapper-top-main {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;

    /* border: 4px solid #3BBCE3; */
 }
.form-search {
    text-decoration: none;
    background-color: transparent;

    /* border: 5px solid black; */
}
.form-search:active {
    border: none;
    text-decoration: none;
}
.label-search {
    text-decoration: none;

    /* border: 5px solid red; */
}
.icon-search {
    margin-top: 5px;
}
.icon-search:hover path {
    margin-top: 5px;
    fill: #ffffff;  
}
.icon-search:focus path {
    margin-top: 5px;
    fill: #EE3643;  
}

input[type=search] {
    color: #000000;
    font-family: inherit;
    font-size: 18px;
    padding-left: 10px;
}

input[type=search]::-ms-clear { display: none; width: 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width: 0; height: 0; }
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration { display: none; }

.search-input::-webkit-input-placeholder { color: var(--basic-white); }
.search-input:-ms-input-placeholder { color: var(--basic-white); }
.search-input::-ms-input-placeholder { color: var(--basic-white); }
.search-input::-moz-placeholder { color: var(--basic-white); }

.search-input {
    width: 250px;
    height: 50px;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;

    /* border: 5px solid red; */
}
.search-input:focus {
    color: #000000;
    background-color: #ffffff;
    outline: 0;
    outline-offset: 0;
}
.order-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    list-style: none;
    padding: 0;
    margin: 0;

    /* border: 5px solid red; */
}
.order {
    color: var(--basic-white);
}
.order-info .order-1 {
    width: 130px;
    height: 30px;
    margin: 0;
    padding: 0;

    /* border: 1px solid red; */
}
.icon-bookmark {
    fill-opacity: 0.25;
    cursor: pointer;
}
.icon-bookmark:hover {
    fill-opacity: 1;
}
.order-info .order-2 {
    width: 130px;
    height: 30px;
    margin: 0;
    padding: 0;

    /* border: 1px solid red; */
}
.icon-basket {
    fill-opacity: 0.25;
}
.icon-basket:hover {
    fill-opacity: 1;
    cursor: pointer;
}
.order-info .order-3 {
    height: 50px;
    margin: 0;
    padding: 0 20px;
    background-color: var(--dark-green);
}
.order-3:hover {
    background-color: #76c74a;
}
.button-checkout:active {
    color: rgba(248, 246, 246, 0.5);
}
.header-info-shop-wrapper {
    display: flex;
    justify-content: space-around;
    margin: 0;
    width: 100%;
    height: 200px;
}
.header-info-shop {
    font-family: "Cuprum Italic", Georgia, serif;
    font-size: 16px;
    color: var(--bright-red);
    align-items: flex-start;
}
.contacts {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 100px;
    margin: 0;
    padding: 0;
    margin-top: 40px;
    margin-left: 95px;

    /* border: 4px solid red; */
}
.contacts-phone::before {
    content: ""; 
    float: left; 
    position: relative; 
    top: 5px;
    left: 5px;  
    height: 30px; 
    width: 30px;
    background: url(/img/icon-phone.svg) -1px -1px no-repeat;
}
.contacts-phone {
    display: block;
    font-family: "Cuprum", Arial, sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 18px;
    text-align: center;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    color: var(--bright-red);
    border: 3px solid var(--basic-white);
    background-repeat: no-repeat;
}
.adress {
    font-family: "Cuprum", sans-serif;
    font-size: 14px;
    color: var(--deep-light-blue);
    padding-top: 10px;
}
.login-link-wrapper {
    box-sizing: border-box;

    /* border: 6px solid blue; */
}
.login-link {
    font-family: "Cuprum", Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 21px;
    line-height: 21px;
    list-style: none;
    width: 400px;
    height: 100px;
    margin: 0;
    padding: 0;


    /* border: 5px solid green; */
}
.login-link .login {
    padding-right: 10px;
}
.login a {
    background-color: var(--basic-white);
    color: var(--deep-light-blue);
    border: 1px solid var(--basic-white);
    width: 111px;
    height: 45px;
}
.button-login {
    text-align: center;
    padding: 10px 20px;

    /* установить область клика у ховер у всех иконок в шапке */
}
.icon-login:hover {
    fill: #293449;
}
.button-login:hover {
    color: var(--bright-red);
}
.button-login:focus {
    color: var(--bright-red);
}
.button-login:active {
    color: #808080;
}

.login-link .registration {
    /* margin-top: 20px; */
}
.button-registration {
    font: inherit;
    padding: 10px 30px;
    color: var(--deep-dark-blue);
    border: 1px solid var(--basic-white);
    background-color: var(--basic-white);
}
.button-registration:hover {
    color: var(--bright-red);
}
.button-registration:focus {
    color: var(--bright-red);
}
.button-registration:active {
    color: #808080;
}

.login-link-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;

    /* border: 2px solid rgb(195, 255, 0); */
}
.login-user {
    display: block;
    /* width: 210px;
    height: 40px; */
    margin: 0;
    padding: 0;
    margin-top: 20px;
    margin-left: 95px;

    /* border: 2px solid rgb(195, 255, 0); */
}
.login-user a {
    display: block;
    align-items: center;
    text-align: center;
    margin: 0;
    height: 35px;
    width: 300px;
    padding-top: 15px;
    color: var(--basic-black);
    background-color: var(--basic-white);
}
.login-link-catalog {
    display: flex;
    margin: 0;
    margin-left: 90px;
    margin-top: 10px;
}
.bread-crumbs-catalog {
    display: flex;
    justify-content: space-between;
    width: 120px;
    margin: 0;
    padding: 0;

    /* border: 2px solid red; */
}
.bread-crumbs-catalog a {
    font-family: inherit;
    font-size: 18px;
    color: #293449;
}
.bread-crumbs-catalog a:hover {
    color: #EE3643;
}
.button-basket-catalog {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0 15px;
    width: 200px;
    height: 50px;
    background-color: var(--bright-red);
}

.nav-site-wrapper {
    width: 960px;
    margin: 0 auto;
    padding: 0;
    background-color: var(--deep-light-blue);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.7); 
}
.nav-site-list {
    display: flex;
    justify-content: center;
    height: 45px;
    margin: 0;
    padding: 0;
    background-color: var(--deep-light-blue);
}
.nav-site-item {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 22px;
    line-height: 24px;
    margin: auto;
}
.nav-site-item a {
    padding: 10px 20px;
    color: var(--basic-white);
}
.nav-site-item a:hover {
    
    background-color: var(--deep-dark-blue);
}
.nav-site-item a:focus {
    background-color: var(--deep-dark-blue);
}
.nav-site-item a:active {
    color: #808080;
}

/* Block Main */

/* Feature */

.container {
    margin: 0 auto;
    padding: 0;
}
.feature {
    width: 960px;
    margin: 0 auto;
    padding: 0;
    display: flex; 
}
.feature-box {
    display: flex;
    flex-direction: column;
    width: 660px;
    height: 400px;
    margin-top: 50px;
    margin-bottom: 50px;

    /* border: 4px solid red; */
}
.feature-list1 {
    display: flex;
    width: 620px;
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
}
.feature-box2 {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 300px;
    height: 410px;
    margin-top: 50px;

    /* border: 4px solid black; */
}
.feature-list2 {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 300px;
    height: 400px;
    margin: 0;
    padding: 0;

    /* border: 4px solid yellow; */
}
.feature-item {
    padding: 12px 12px;
}
.feature-item a {
    display: flex;

    /* border: 20px solid red;  */
}
.new::after {
    content: "new";
    font-family: "Cuprum","Arial",sans-serif;
    color: var(--basic-white);
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    box-sizing: border-box;
    padding-top: 4px;
    position: absolute;
    width: 100px;
    height: 25px;
    top: 10px;
    right: -27px;
    background-color: var(--bright-red);
    transform: rotate(45deg);
}
.material {
    position: relative;
    width: 300px;
    height: 90px;
    padding-top: 20px;
    padding-left: 22px;
    margin-right: 30px;
    color: var(--basic-white);
    background-color: var(--dark-yellow);
    border: 1px solid transparent;
    overflow: hidden;
}
.material::before {
    content: " ";
    position: absolute;
    width: 80px;
    height: 75px;
    top: 22px;
    right: 17px;
    background: url(/img/materials.svg) no-repeat;
}
.material a {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    width: 90px;
    padding: 10px 20px;
    margin-top: 10px;
    color: var(--basic-white);
    border: 1px solid transparent;
    background-color: rgba(255,255,255,.3);
} 
.instrument {
    position: relative;
    width: 300px;
    height: 90px;
    margin: 0;
    padding-top: 20px;
    padding-left: 22px;
    color: var(--basic-white);
    background-color: var(--light-blu);
    border: 1px solid transparent;
}
.instrument::before {
    content: " ";
    position: absolute;
    width: 80px;
    height: 75px;
    top: 22px;
    right: 17px;
    background: url(/img/instruments.svg) no-repeat;
}
.instrument a {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    border: 1px solid transparent;
    width: 90px;
    padding: 10px 20px;
    margin-top: 10px;
    color: var(--basic-white);
    background-color: rgba(255,255,255,.3);
}

.gallery-catalog {
    max-width: 620px;
    max-height: 310px;
    margin: 0;
}
.gallery-content1 {
    width: 620px;
    height: 310px;
    position: relative;
    max-width: 660px;
    max-height: 240px;
    z-index: 2;

}
.background {
    max-width: 620px;
    max-height: 260px;
    margin: 0;
    padding: 0;
    background-color: var(--deep-dark-blue);
    border: 2px solid var(--basic-white);
    z-index: -1;
    
}
.gallary-button-back {
    margin: 0;
    position: absolute;
    top: 130px;
    left: 18px;
    width: 35px;
    height: 45px;
    z-index: 2;
    border: 0;
    text-decoration: none;
    background: url(/img/icon-left.png) 1px 1px no-repeat;

    /* background-color: #000000; */
}
.gallary-button-next {
    margin: 0;
    position: absolute;
    top: 120px;
    right: 15px;
    width: 35px;
    height: 45px;
    z-index: 2;
    transform: rotate(180deg);
    border: 0;
    text-decoration: none;
    background: url(/img/icon-left.png) 1px 1px no-repeat;

    /* background-color: #000000; */
}
.header-gallery {
    margin: 0;
    position: absolute;
    font-family: "Cuprum", "Arial", serif;
    font-size: 36px;
    line-height: 24px;
    font-weight: 700;
    bottom: 190px;
    left: 20px;
    text-transform: uppercase;
    color: var(--basic-white);

    /* border: 2px solid red; */
}
.description {
    margin: 0;
    position: absolute;
    font-family: "Cuprum", "Arial", serif;
    font-size: 14px;
    line-height: 12px;
    font-weight: 700;
    bottom: 160px;
    left: 20px;
    text-transform: uppercase;
    color: var(--basic-white);
}
.button-gallery {
    position: absolute;
    bottom: -160px;
    left: 250px;
    width: 160px;
    height: 20px;
    text-align: center;
    z-index: 2;
}
.button-gallery a {
    text-align: center;
    padding: 0;
    margin: 0;
}
.gallery-content2 {
    position: relative;
    max-width: 660px;
    max-height: 240px;
    bottom: 240px;
    z-index: -1;
}
.construction {
    position: relative;
    width: 280px;
    height: 90px;
    padding-top: 20px;
    padding-left: 20px;
    margin: 0;
    margin-bottom: 20px;
    color: var(--basic-white);
    background-color: var(--lilac);
    border: 1px solid transparent;
}
.construction::before {
    content: " ";
    position: absolute;
    width: 80px;
    height: 75px;
    top: 22px;
    right: 49px;
    background: url(/img/vehicle.svg) no-repeat;
}
.construction a {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    border: 1px solid transparent;
    width: 77px;
    padding: 10px 20px;
    margin-top: 10px;
    color: var(--basic-white);
    background-color: rgba(255,255,255,.3);
}
.sale {
    position: relative;
    width: 280px;
    height: 90px;
    padding-top: 20px;
    padding-left: 20px;
    margin-bottom: 20px;
    color: var(--basic-white);
    background-color: var(--dark-green);
    border: 1px solid transparent;
}
.sale::before {
    content: " ";
    position: absolute;
    width: 80px;
    height: 75px;
    top: 22px;
    right: 49px;
    background: url(/img/discounts.svg) no-repeat;
}
.sale a {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    border: 1px solid transparent;
    width: 90px;
    padding: 10px 20px;
    margin-top: 10px;
    color: var(--basic-white);
    background-color: rgba(255,255,255,.3); 
}
.delivery {
    position: relative;
    width: 280px;
    height: 90px;
    padding-top: 20px;
    padding-left: 20px;
    color: var(--basic-white);
    background-color: var(--yellow);
    border: 1px solid transparent;
}
.delivery::before {
    content: " ";
    position: absolute;
    width: 80px;
    height: 75px;
    top: 22px;
    right: 49px;
    background: url(/img/delivery.svg) no-repeat;
}
.delivery a {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    border: 1px solid transparent;
    width: 77px;
    padding: 10px 10px;
    margin-top: 10px;
    color: var(--basic-white);
    background-color: rgba(255,255,255,.3);
}

/* Popular product */

.popular-product {
    width: 960px;
    margin: 0 auto;
    padding: 0;
}
.wrapper-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--color-bez);
    margin-bottom: 50px;
}
.header-popular {
    margin-left: 20px;
    text-transform: uppercase;
}
.button-popular {
    font-size: 16px;
    margin-right: 20px; 
    text-align: center;
}
.button-popular:hover {
    
}
.product-list {
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    width: 960px;
    height: 380px;
    padding: 0;
    margin: 0;
}
.product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    width: 220px;
    height: 318px;
    box-sizing: border-box;
    position: relative;
    border: 1px solid rgba(45, 43, 43, 0.2);
    overflow: hidden;
}
.product-item:hover {
    box-shadow: 
    0 2px 2px
        rgba(0, 0, 0, 0.2),
    0.3em 0.3em 1em
        rgba(0, 0, 0, 0.2);
}
.img-wrap {
    display: flex;
    margin: 0;
    padding: 0;
    width: 200px;
    height: 170px;
    text-align: center;
    align-items: center;
    box-sizing: border-box;

    
    /* border: 4px solid red; */
}
.header-pop-product {
    text-align: center;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}
.price-out {
    color: #808080;
    text-decoration: line-through;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}
.price {
    padding: 10px 32px;
    background: url(../img/price-button.svg) -24px 1px no-repeat;
    margin-top: 0;
    margin-bottom: 11px;
    color: var(--basic-white);
    margin-left: 20px;
    /* transform: translateX(6px); */
}
.price a {
    font-size: 12px;
    font-weight: 700;
}
.popular-brand {
    width: 960px;
    margin: 0 auto;
    padding: 0;
}
.brand-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
}
.brand-item {
    width: 220px;
    height: 145px;
    margin-bottom: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.brand-item:hover {
    box-shadow: 
    0 2px 2px
        rgba(0, 0, 0, 0.2),
    0.3em 0.3em 1em
         rgba(0, 0, 0, 0.2);
}
.brand-item-name {
    padding-top: 50px;
    padding-left: 30px;
}
.brand-item-name2 {
    padding-top: 30px;
    padding-left: 40px;
}

/* Service  */

.service {
    width: 100%; 
    height: 500px;
    position: relative;
    background-color: var(--color-backrgoud);

    /* border: 2px solid red; */
}
.wrap-service {
    width: 960px;
    margin: 0 auto;
    padding: 0;

    /* border: 2px solid black; */
}
.description-service {
    font-family: "PT Sans", Times, serif;
    font-size: 12px;
    font-weight: 400;
    width: 400px;
    margin-left: 20px;
}
.wrapper-service {
    display: flex;
}
.service-list {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 55px;
    padding-left: 20px;
}
.service-list::after {
    content: "";
    position: absolute;
    display: block;
    bottom: -10px;                                                 
    left: 208px;
    width: 12px;
    height: 230px;
    background: url(../img/services-shadow.png) 4px 1px no-repeat; 
}
.service-delivery {
    font-family: "Cuprum Bold", "Arial", sans-serif;
    font-size: 18px;
    text-decoration: none;
    border: 1px solid transparent;
    color: #293449;
    background-color: var(--basic-white);
    text-align: left;
    width: 200px;
    height: 50px;
    padding-left: 15px;
}
.service-item {
    font-family: "Cuprum Bold", "Arial", sans-serif;
    font-size: 18px;
    text-decoration: none;
    border: 1px solid transparent;
    color: #F9F5F0;
    background-color: var(--deep-light-blue);
    text-align: left;
    width: 200px;
    height: 50px;
    padding-left: 15px;
}
.service-item:hover {
    background-color: var(--deep-dark-blue);
    cursor: pointer;
}
.service-info {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-top: 20px;
    margin-left: 60px;
}
.header-info-delivery {
    text-transform: uppercase;
    font-size: 28px;
    color: #293449;
}
.description-delivery {
    font-family: "PT Sans", "Times", serif;
    font-size: 12px;                             
    font-weight: 400;
    text-align: start;
}
.description-delivery::after {
    content: "";
    position: absolute;
    display: block;
    top: 150px; 
    left: 693px;
    width: 500px;
    height: 300px;
    background: url(../img/service-delivery.png) 30px 30px no-repeat;
}

 /* Info-company */

 .info-company-contacts {
    width: 960px;
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
 }
.description-company {
    font-family: "PT Sans", "Times", serif;
    font-size: 12px;
    font-weight: 400;
    color: #000000;
    width: 455px;
    margin-left: 20px;
}
.option {
    margin-top: 20px;
    margin-bottom: 0;
}
.delivery-list {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-black);
    box-sizing: border-box;
    padding-left: 60px;
    margin-top: 0;
    margin-bottom: 20px;
}
.delivery-item {
    position: relative;
     margin-bottom: 15px;
}
.delivery-item::before {
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    left: -37px;
    width: 25px;
    height: 2px;
    background-color: #EE3643;
}
.end {
    margin-bottom: 30px;
}
.button-delivery {
    display: block;
    width: 210px;
    margin-left: 20px;
    text-align: center;
}
.wrapper-contacts {
    margin-left: 185px;
}
.description-contacts {
    font-family: "PT Sans", "Times", serif;
    font-size: 12px;
    font-weight: 400;
    color: #000000;
    width: 300px;
    margin-left: 20px;
    margin-bottom: 30px;
}
.img-map {

}
.button-lost {
    border: none;
    margin-top: 20px;
    width: 300px;
    height: 40px;
}

/* Footer */

.main-footer {
    width:  100%;
    background-color: var(--deep-light-blue);
}
.wrapper-footer {
    width: 960px;
    margin: 0 auto;
    height: 140px;
    margin-top: 40px;
    background-color: var(--deep-light-blue);
}
.wrap-footer-nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row; 
    align-items: flex-end;
    width: 960px;
    margin: 0;
    padding-bottom: 0;


    /* border: 2px solid saddlebrown; */
}
.footer-logo {
    display: block;
    font-family: "Cuprum", Arial ,sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 24px;
    text-align: center;
    padding-top: 20px;
    width: 210px;
    height: 42px;
    background-color: #EE3643;
    box-shadow: 0 -5px 0 0 rgb(0 0 0 / 24%) inset;
}
.footer-nav-list {
    display: flex;
    justify-content: space-around; 
    align-items: flex-end;
    width: 546px;
    margin-left: auto;
    margin: 0;
}
.footer-nav-item a {
    font-size: 18px;
    color: var(--basic-white);
}
.footer-nav-item a:hover {
    text-decoration: underline;
    color: var(--basic-white);
}
.footer-line {
    display: flex;
    justify-content: space-between;
    flex-direction: row; 
    width: 960px;
    margin: 0;
    margin-top: 20px;
}
.adress-footer {
    font-size: 18px;
    color: var(--basic-white);
    margin: 0;
    width: 350px;
}
.footer-contacts-phone {
    display: block;
    font-size: 16px;
    color: var(--basic-white);
    margin: 0;
    width: 200px;
}
.footer-offer-list {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 500px;
    margin-top: 0;
    margin-left: auto;
    margin-bottom: 0;
}
.footer-offer-item a {
    font-size: 18px;
    color: var(--yellow);
}
.footer-offer-item a:hover {
    text-decoration: underline;
    color: var(--yellow);
}
.background-wrap-social {
    background-color: var(--deep-dark-blue);
}
.wrapper-social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 960px;
    height: 80px;
    background-color: var(--deep-dark-blue);

    /* border: 4px solid red; */
}
.footer-info {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 16px;
    color: var(--basic-white);
    margin: 0;
}
.footer-social {
    display: flex;
    /* увеличить область клика */
}
.path_one:hover {
    fill: #EE3643;
    transition: 1.6;
}
.path_two:hover {
    fill: #ffffff;
    transition: 1.6;
}
.feedback {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 16px;
    color: var(--basic-white);
    margin-right: 20px;
}
.footer-feedback {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 16px;
    color: var(--yellow);
}
                                                /* проставить везде лайн-хеитс
                                                по очереди или отдельно внизу
                                                проставить в фон феймили второй стиль взять в ковычки */
 /* Catalog */

.wrap-bread-crumbs {
    max-width: 960px;
    margin: 0 auto;
}
 .bread-crumbs-catalog2 {
    display: flex;
    justify-content: space-between;
    width: 300px;
    position: relative;
 }
 .bread-crumbs-catalog2 a {
    font-family: "PT Sans", "Times", serif;
    font-weight: 400;
    font-size: 13px;
    text-transform: uppercase;
    color: #000000;
 }
 .icon-home::after {
    content: "";
    position: absolute;
    display: block;
    left: 6px;
    top: 1px;
    width: 25px;
    height: 25px;
    background: url(../img/icon-home.svg) 3px 3px no-repeat;
 }
 .catalog-perforator {
    max-width: 960px;
    margin: 0 auto;
 }
 .wrapper-footer-catalog {
    width: 960px;
    margin: 0 auto;
    height: 140px;
    background-color: var(--deep-light-blue);
}
.header-catalog {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 28px;
    font-weight: 400;
    text-transform: uppercase;
    color: #293449;
    background-color: var(--color-backrgoud);
    height: 60px;
    padding-top: 30px;
    padding-left: 35px;
}
.header-filter {
    font-family: "PT sans", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    width: 180px;
    height: 30px;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    background-color: #f7f3ec;
}
.wrapper-filter-product {
    display: flex;
    margin: 0;
    padding: 0;
    margin-right: 10px;

    /* border: 12px solid sienna; */
}
.wrapper-filter {
    width: 200px;
    margin: 0;
    padding: 0;
    margin-right: 35px;

    /* border: 12px solid rgb(45, 91, 160); */
}
.fieldset {
    margin: 0;
    border: none;
    height: 150px;
    width: 200px;
    padding-left: 0;
}
.fieldset-1 {
    height: 150px;
    width: 200px;
}
.legend-price {
    font-family: "Cuprum Bold", "Arial", sans-serif;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;

    /* margin-bottom: 20px; */
}
.background-range {
    display: block;
    height: 60px;
    width: 200px;
    margin-bottom: 15px;
    background-color: #f7f3ec;
}
.wrapper-filter-price {
    display: flex;
    justify-content: space-between;
}
.price-filter {
    font-family: "PT Sans","Arial",sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    height: 30px;
    width: 85px;
    border: 0;
    text-align: center;
    background-color: #f7f3ec;
    text-decoration: none;
}
.fieldset-2 {
    margin: 0;
    height: 200px;
}
.manufacturers {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 15px;
    line-height: 16px;
    text-transform: uppercase;
    text-align: left;
    padding: 0;
    margin: 0;
    text-align: left;

    /* border: 1px solid red; */
}
.manufacturers li {
    margin-bottom: 15px;
}
.manufacturers label {
    position: relative;
}
.manufacturers label:hover {
    cursor: pointer;
}
.manufacturers label::after {
    content: "";
    position: absolute;
    display: block;
    width: 23px;
    height: 23px;
    left: 0;
    top: 0;
    background: url(../img/checkbox-on.svg) 0 0 no-repeat; /*(менять иконку с помощью JS через toggle ?)*/
}
.manufacturers li:last-child {
    margin-bottom: 0;
}
.input-manufacturers {
    margin-right: 25px;
    padding-left: 0;
    visibility: hidden;
}
.input-manufacturers:focus {

}
.fieldset-3 {
    height: 100px;
}
.fieldset-manufacturers-supply {
    font-family: "PT Sans Bold","Arial",sans-serif;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    margin: 0;
    padding-top: 15px;
    width: 200px;
    border-top: 2px solid #f7f3ec;
}
.supply {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 15px;
    line-height: 16px;
    text-transform: uppercase;
    text-align: left;
    padding-top: 15px;
    padding-left: 0;
    margin: 0;
}
.supply li {
    margin-bottom: 15px;
}
.supply li:last-child {
    margin-bottom: 0;
}
.input-supply {
    margin-right: 25px;
    padding-left: 0;
}
.button-show {
    font-family: "PT Sans","Arial",sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    box-sizing: border-box;
    margin-top: 24px;
    cursor: pointer;
    width: 100%;
    height: 38px;
    border: 1px solid #e5e5e5;
    background: 0 0;
}
.wrapper-product {
    width: 800px;
    min-height: 1090px;
    margin: 0;
    padding: 0;


    /* border: 5px solid blueviolet; */
}
.wrap-sorting {
    display: flex;
    justify-content: space-between;
    background-color: #f7f3ec;
    height: 40px;
    align-items: center;
    margin-bottom: 30px;
}
.product-sorting {
    font-family: "PT Sans","Arial",sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    margin-left: 25px;
    width: 100px;
    height: 20px; 

    /* border: 1px solid blue; */
}
.sorting-list {
    display: flex;
    width: 350px;
    justify-content: space-around;
    margin-right: 60px;

    /* border: 1px solid green; */
}
.sorting-item {
    font-family: "PT Sans","Arial",sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    color: rgba(0,0,0,.3);
}
.sorting-item:nth-child(n+2) {
    border-bottom: 1px dotted red; 
}
.sorting-item:nth-child(n+2):hover {
    color: #000000;
    cursor: pointer; 
}
.icon-up {
    transform: rotate(180deg);
}
.icon-up path {
    fill: #808080;
    opacity: 0.5;
}
.icon-up path:hover {
    fill: #000000;
    opacity: 1;
} 
.sorting-color {
    color: red;
}
.sorting-item:nth-child(1):hover {
    color: red; 
} 
.catalog-product-list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    /* border: 1px solid red; */
}
.catalog-product-list li {
    margin-bottom: 15px;
    margin-right: 15px;
}
.catalog-product-item {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    width: 220px;
    min-height: 318px;
    box-sizing: border-box;
    position: relative;
    border: 1px solid rgba(45, 43, 43, 0.2);
    overflow: hidden;

    /* outline: 1px solid #e5e5e5; */
}
.catalog-product-item:nth-child(3n) {
    margin-right: 0;
}
.catalog-product-item li:nth-child(7n-9n) {
    margin-bottom: 0;
}
.catalog-product-item:hover {
    box-shadow: 
    0 2px 2px
        rgba(0, 0, 0, 0.2),
    0.3em 0.3em 1em
        rgba(0, 0, 0, 0.2);
} 
.catalog-product {
    /* width: 150px;
    height: 150px;
    margin: 0;
    padding: 0; */
}
.wrap-product {
    margin-bottom: 7px;
    font-size: 18px;
    line-height: 20px;
    text-transform: none;
    text-align: center;
    margin-top: 10px;
}
.wrap-page-list {
    margin-left: 210px;
}
.number-page-list {
    display: flex;
    min-width: 200px;
    min-height: 38px;
    margin-top: 30px;
    margin-bottom: 80px;  
}
.number-page-item {
    width: 38px;
    height: 38px;
    margin: 0;
    margin-right: 20px;
    padding: 10px 15px;
    font-family: "PT Sans","Arial",sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
}                             /* увеличить область клика */
.number-page-item a {
    color: #000000;
}
.number-page-item:first-child {
    color: var(--basic-white);
    background-color: var(--bright-red);
}
.number-page-item:nth-child(4n) {
    width: 138px;
    height: 38px;
    margin-right: 0;
}
.number-page-item:hover {
        border: 1px solid #808080;
        transition: color ease-in .4s;
}
.page-next a {
    font-family: "PT Sans","Arial",sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
}
.about-perforator {
    display: flex;
    flex-direction: column;
    background-color: var(--color-backrgoud);
    width: 100%;
    height: 200px;
    margin: 0;
    padding: 0;
    padding-top: 70px;

    /* border: 1px solid red; */
}                            
.wrap-about-perforator {
    max-width: 960px;
    margin: 0 auto;
}
.header-about-perforator {
    font-family: "Cuprum","Arial",sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 22px;
    text-transform: uppercase;
    width: 400px;
    height: 38px;
    color: #000000;
    box-sizing: border-box;
    margin: 0;
}
.text-about-perforator {
    margin: 0;
    padding: 0;
    font-family: "PT Sans","Arial",sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    min-width: 700px;
    height: 100px;
    color: #000000;
    box-sizing: border-box;
}
.footer-catalog {
    margin-top: 0;
}                                   /*  В оберках код центрирования 
                                                with 960px, margin 0 auto , padding 0 10px

                                                     Отредачить все размеры - добавить max-with в текстах 
                                                        Выравнить все иконки, оставить для них место, прописать ширину для элемета/текста
                                                        
                                                        в див можно обернуть целую секцию
                                                        у списков и загаловков обнулить маржин
                                                        
                                                        каждый лейбл и инпут обернут в тег p
                                                        добавить гриды
                                                        добавить ариа-лейбл социанльным кнопкам с описанием соц сети и кнопкам которые добавляют товар в корзниу
                                                        добавить везде состояние фокус*/