/* Fonts */

@font-face {
    font-family: "Cuprum";
    src: url("../fonts/cuprum.woff2") format("woff2"),
    url("../fonts/cuprum.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Cuprum Bold";
    src: url("../fonts/cuprumbold.woff2") format("woff2"),
    url("../fonts/cuprumbold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Cuprum Italic";
    src: url("../fonts/cuprumitalic.woff2") format("woff2"),
        url("../fonts/cuprumitalic.woff") format("woff");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Cuprum Bold Italic";
    src: url("../fonts/cuprumbolditalic.woff2") format("woff2"),
        url("../fonts/cuprumbolditalic.woff") format("woff");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/ptsans.woff2") format("woff2"),
        url("../fonts/ptsans.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "PT Sans Bold";
    src: url("../fonts/ptsansbold.woff2") format("woff2"),
        url("../fonts/ptsansbold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

/* Variables */

:root {
    --bright-red: #EE3643;
    --dark-green: #63A63E;
    --yellow: #FFBF47;
    --light-blu: #3BBCE3;
    --lilac: #DC91D8;
    --light-green: #8ED78F;
    --dark-yellow: #FFC047;
    --deep-light-blue: #32425C;
    --deep-dark-blue: #293449;
    --basic-white: #ffffff;
    --basic-black: #000000;
    --color-bez: #F9F5F0;

    --color-backrgoud: #f3f7f8;
}

/* Global */

.page {
    height: 100%;
}
.page-body {
    min-width: 960px;
    margin: 0 auto;
    padding: 0;
    font-family: "Cuprum", sans-serif;
    font-size: 22px;
    line-height: 20px;
    font-weight: 400;
    color: var(--basic-black); 
}
img {
    max-width: 100%;  /*такие же свойства добавить на myportfolio для всех картинок, это базовая настройка*/
    height: auto;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
.hidden {
    visibility: hidden;
}
.button {
    font-family: "Cuprum", sans-serif;
    color: var(--basic-white);
    padding: 10px 15px;
    background-color: var(--bright-red);   
}
.button a {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5); 
}

/* Navigation */

.main-header {
    background: var(--color-backrgoud);
}
.top-main-header {

}

.top-main-nav-wrapper {

}
.main-logo-wrapper {
    padding: 0;
    margin: 0;
}
.logo {
    padding: 10px 20px;
    background-color: var(--bright-red);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}
.wrapper-top-main {
    display: grid;
    padding: 0;
    margin: 0;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--deep-dark-blue);
} в этом же классе настраиваем всю шапку навигации
.form-search {
    padding: 0;
    margin: 0;

}
.form-search:active {
    height: 20%;
    width: 50%;
    background-color: var(--basic-white);
}

.search-input::before {
        content: ""; 
        float: left; 
        position: relative; 
        top: 4px; 
        left: 45px;  
        display: block; 
        height: 25px; 
        width: 25px; 
        background: url(/img/icon-search1.svg) -3px -4px no-repeat;
}
input[type=search] {
    color: #000000; поменять текст в поле ввода
}
.search-input::-webkit-input-placeholder { color: var(--basic-white); }
.search-input:-ms-input-placeholder { color: var(--basic-white); }
.search-input::-ms-input-placeholder { color: var(--basic-white); }
.search-input::-moz-placeholder { color: var(--basic-white); }

/* .search-icon {
    color: var(--bright-red);
}
.search-icon:hover {
    color: var(--basic-white);
}
.search-icon:active {
    color: var(--bright-red);
} */
.search-input {
    font-size: 17px;
    width: 100px;
    padding: 0px;
    margin: 0px;
    border: none;
    outline: 0;
    color: var(--basic-black);
    background-color: transparent;
}
.order-info-wrapper {

}
.order-info {
    font-family: "Cuprum", sans-serif;
    font-size: 14px;
    line-height: 12px;
    text-align: center;
    padding: 10px;
    list-style: none;
}
.order { 
    color: var(--basic-white);
}
.order-info .order-1 {
    
}
.order-info .order-2 {
   
}
.order-info .order-3 {

}
.button-bookmark::before {
    content: "";
    display: block;
    position: relative;
    float: left; 
    top: 5px;
    left: 170px;
    width: 25px;
    height: 25px;
    background: url(/img/icon-bookmark.svg) -1px -1px no-repeat;
}
.button-bookmark {
    margin: 0;
}
.button-bookmark:active {

}
.button-basket::before {
    content: "";
    display: block;
    position: relative;
    float: left; 
    top: 5px;
    left: 170px;
    width: 25px;
    height: 25px;
    background: url(/img/icon-cart.svg) -1px -1px no-repeat;
}
.button-basket {

}
.button-checkout {
    background-color: var(--dark-green);
    padding: 10px 20px;
}
.button-checkout:hover {
    background-color: #76c74a;
}
.button-checkout:active {
    color: rgba(248, 246, 246, 0.5);
}
.header-info-shop-wrapper {

}
.header-info-shop {
    color: var(--bright-red);
    font-family: "Cuprum Italic", serif;
    display: block;
    text-align: center;
    font-size: 14px;
}
.contacts-phone::before {
    content: ""; 
    float: left; 
    position: relative; 
    top: 4px; 
    left: 45px;  
    display: block; 
    height: 25px; 
    width: 25px; 
    background: url(/img/icon-phone.svg) -1px -1px no-repeat;
}

.contacts-phone {
    font-family: "Cuprum", sans-serif;
    font-weight: 700;
    font-size: 14px;
    padding: 10px 40px;
    color: var(--bright-red);
    border: 3px solid var(--basic-white);
    background-repeat: no-repeat;
}
.adress {
    font-family: "Cuprum", sans-serif;
    font-size: 14px;
    color: var(--deep-light-blue);
}
.login-link-wrapper {
    display: grid;
}
.login-link {
    font-family: "Cuprum", sans-serif;
    text-align: center;
    font-size: 21px;
    line-height: 21px;
    list-style: none;
    margin: 0;
    padding-left: 0;
}
.login-link .login {

}
.button-login::before {
    content: "";
    display: block;
    position: relative;
    float: left; 
    top: 3px;
    left: 687px;
    width: 25px;
    height: 25px;
    background: url(/img/icon-login.svg) -1px -1px no-repeat;
}
.button-login {
    color: var(--deep-light-blue);
    padding: 10px 30px;
    border: 1px solid var(--basic-white);
    background-color: var(--basic-white);
}
.button-login:hover {
    color: var(--bright-red);
}
.button-login:focus {
    color: var(--bright-red);
}
.button-login:active {
    color: #808080;
}

.login-link .registration {
    margin-top: 20px;
}
.button-registration {
    font: inherit;
    color: var(--deep-dark-blue);
    border: 1px solid var(--basic-white);
    padding: 10px 30px;
    color: var(--deep-light-blue);
    border: 1px solid var(--basic-white);
    background-color: var(--basic-white);
}
.button-registration:hover {
    color: var(--bright-red);
}
.button-registration:focus {
    color: var(--bright-red);
}
.button-registration:active {
    color: #808080;
}

.nav-site-wrapper {
    font-size: 14px;
    background-color: var(--deep-light-blue);
}
.nav-site-list {
    margin: 0;
    padding-left: 0;
    background-color: var(--deep-light-blue);
}
.nav-site-item {
    font-family: "Cuprum", sans-serif;
    font-size: 22px;
    line-height: 24px;
}
.nav-site-item a {
    padding: 10px 20px;
    color: var(--basic-white);
}
.nav-site-item a:hover {
    background-color: var(--deep-dark-blue);
}
.nav-site-item a:focus {
    background-color: var(--deep-dark-blue);
}
.nav-site-item a:active {
    color: #808080;
}

/* Block Main */

.container {

}
.feature {

}
.feature-list {
    border: 1px solid var(--basic-black);
}
.material {
    border: 1px solid transparent;
    color: var(--basic-white);
    background-color: var(--dark-yellow);
    padding: 40px 40px;
}
.material a {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    width: 135px;
    height: 38;
    padding: 10px 0;
    border: 1px solid transparent;
    color: var(--basic-white);
    background-color: rgba(255,255,255,.3);
} 
.instrument {
    border: 1px solid transparent;
    color: var(--basic-white);
    background-color: var(--light-blu);
    padding: 40px 40px;
}
.instrument a {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    width: 135px;
    height: 38;
    padding: 10px 0;
    border: 1px solid transparent;
    color: var(--basic-white);
    background-color: rgba(255,255,255,.3);
}
.construction {
    border: 1px solid transparent;
    color: var(--basic-white);
    background-color: var(--lilac);
    padding: 40px 40px;
}
.construction a {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    width: 135px;
    height: 38;
    padding: 10px 0;
    border: 1px solid transparent;
    color: var(--basic-white);
    background-color: rgba(255,255,255,.3);
}
.sale {
    border: 1px solid transparent;
    color: var(--basic-white);
    background-color: var(--dark-green);
    padding: 40px 40px;
}
.sale a {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    width: 135px;
    height: 38;
    padding: 10px 0;
    border: 1px solid transparent;
    color: var(--basic-white);
    background-color: rgba(255,255,255,.3); 
}
.delivery {
    border: 1px solid transparent;
    color: var(--basic-white);
    background-color: var(--yellow);
    padding: 40px 40px;
}
.delivery a {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    width: 135px;
    height: 38;
    padding: 10px 0;
    border: 1px solid transparent;
    color: var(--basic-white);
    background-color: rgba(255,255,255,.3);
}
/* Galerry catalog */

.background1,
.background2 {
    background-color: var(--deep-dark-blue);
    border: 2px solid var(--basic-white);
}
.header-gallery {
    font-family: "Cuprum", serif;
    font-size: 36px;
    line-height: 24px;
    font-weight: 700;
    position: relative;
    bottom: 230px;
    left: 20px;
    text-transform: uppercase;
    color: var(--basic-white);
}
.description {
    font-family: "Cuprum", serif;
    font-size: 14px;
    line-height: 12px;
    font-weight: 700;
    position: relative;
    bottom: 260px;
    left: 20px;
    text-transform: uppercase;
    color: var(--basic-white);
}
.gallary-button-back {
    border: 0;
    text-decoration: none;
    content: "";
    display: block;
    position: absolute;
    bottom: -570px;
    left: 55px;
    width: 35px;
    height: 45px;
    z-index: 1;
    background: url(/img/icon-left.png) 1px 1px no-repeat;
}
.gallary-button-next {
    border: 0;
    text-decoration: none;
    content: "";
    display: block;
    position: absolute;
    bottom: -570px;
    right: 910px;
    width: 35px;
    height: 45px;
    transform: rotate(180deg);
    background: url(/img/icon-left.png) 1px 1px no-repeat;
}
.gallery-content1 {
    position: relative;
    z-index: -1;
}
.gallery-content2 {
    position: relative;
    bottom: 336px;
    z-index: -1;
}
.button-gallery {
    padding-left: 40px;
    position: absolute;
    bottom: 130px;
    right: 800px;
    width: 180px;
    height: 25px;
    z-index: 1;
}

/* Popular product */

.wrapper-header {
    background-color: var(--color-bez);
}
.header-popular {
    text-transform: uppercase;
}
.button-popular {
    font-size: 18px;
    text-transform: uppercase;
}
.price-out {
    color: #808080;
    text-decoration: line-through;
}
.price {
    color: var(--basic-white);
    padding: 10px 20px;
    background: url(/img/red-button.svg) 15px 1px no-repeat;
}
.brand-list {
    display: block;
    justify-content: space-between;
}
.brand-item {
    display: block;
    width: 220px;
    height: 145px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.brand-item:hover {
    box-shadow: 
    0 2px 2px
        rgba(0, 0, 0, 0.2),
    0 0  0 2px 
        rgba(255, 255, 255),
    0.3em 0.3em 1em
         rgba(0, 0, 0, 0.2);
}
.bosch {
    padding-top: 50px;
    padding-left: 30px;
}
.makita {
    padding-top: 50px;
    padding-left: 40px;
}
.dewalt {
    padding-top: 50px;
    padding-left: 40px;
}
.inter {
    padding-top: 50px;
    padding-left: 40px;
}
.hitachi {
    padding-top: 50px;
    padding-left: 40px;
}
.lg {
    padding-top: 30px;
    padding-left: 40px;
}
.aeg {
    padding-top: 30px;
    padding-left: 40px;
}
.metabo {
    padding-top: 50px;
    padding-left: 40px;
}
.wrapper-service {
    background-color: var(--color-backrgoud);
}