/* Fonts */

@font-face {
    font-family: "Cuprum";
    src: url("../fonts/cuprum.woff2") format("woff2"),
    url("../fonts/cuprum.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Cuprum Bold";
    src: url("../fonts/cuprumbold.woff2") format("woff2"),
    url("../fonts/cuprumbold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Cuprum Italic";
    src: url("../fonts/cuprumitalic.woff2") format("woff2"),
        url("../fonts/cuprumitalic.woff") format("woff");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Cuprum Bold Italic";
    src: url("../fonts/cuprumbolditalic.woff2") format("woff2"),
        url("../fonts/cuprumbolditalic.woff") format("woff");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/ptsans.woff2") format("woff2"),
        url("../fonts/ptsans.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "PT Sans Bold";
    src: url("../fonts/ptsansbold.woff2") format("woff2"),
        url("../fonts/ptsansbold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

/* Variables */

:root {
    --bright-red: #EE3643;
    --dark-green: #63A63E;
    --yellow: #FFD180;
    --light-blu: #3BBCE3;
    --lilac: #DC91D8;
    --light-green: #8ED78F;
    --dark-yellow: #FFC047;
    --deep-light-blue: #32425C;
    --deep-dark-blue: #293449;
    --basic-white: #ffffff;
    --basic-black: #000000;
    --color-bez: #F9F5F0;

    --color-backrgoud: #f3f7f8;
}

/* Global */

.page {
    height: 100%;
    width: 100%;
}
.page-body {
    width: 100%; 
    margin: 0 auto;
    padding: 0;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 22px;
    line-height: 20px;
    font-weight: 400;
    color: var(--basic-black); 
}
img {
    max-width: 100%;  /*такие же свойства добавить на myportfolio для всех картинок, это базовая настройка*/
    height: auto;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
.hidden {
    visibility: hidden;
    position: absolute;
    left: -3000px;
    /* overflow: hidden; */
    width: 0;
    height: 0;
}
.all-button {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px 15px;
    color: var(--basic-white);
    background-color: var(--bright-red);   
}
.button a {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5); 
}
.header {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    width: 320px;
    padding-top: 50px;
    margin-left: 20px;
}

/* Navigation */

.main-header {
    background: var(--color-backrgoud);
    height: 370px;
}
.top-main-nav {

}
.content-size {
    width: 960px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: row; 
}
.top-main-nav-wrapper {
    width: 100%;
    height: 50px;
    background-color: var(--deep-dark-blue);

}
.main-logo-wrapper {
    display: block;
    padding: 0;
    margin: 0;
}
.logo {
    padding: 10px 20px;
    background-color: var(--bright-red);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}
.wrapper-top-main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    /* background-color: var(--deep-dark-blue); */

    /* border: 4px solid #3BBCE3; */
 } /* в этом же классе настраиваем всю шапку навигации */
.form-search {
    padding: 0;
    margin: 0;
}
.form-search:active {
    height: 20%;
    width: 50%;
    background-color: var(--basic-white);
}
/* .icon-serch::after {
    content: "";
    display: block;
    position: relative; 
    top: 5px;                                           
    left: 7px;
    width: 25px;
    height: 25px;
    background: url(../img/icon-search1.svg) 1px 1px no-repeat;
}
.icon-serch{
    color: var(--bright-red);
}
.icon-serch:hover {
    color: var(--basic-white);
}
.icon-serch:active {
    color: var(--bright-red);
}                             НИХРЕНА НЕ РАБОТАЕТ */
input[type=search] {
    color: #000000; /* поменять текст в поле ввода */
}
.search-input::-webkit-input-placeholder { color: var(--basic-white); }
.search-input:-ms-input-placeholder { color: var(--basic-white); }
.search-input::-ms-input-placeholder { color: var(--basic-white); }
.search-input::-moz-placeholder { color: var(--basic-white); }

.search-input {
    font-size: 17px;
    width: 100px;
    padding: 0px;
    margin: 0px;
    border: none;
    outline: 0;
    color: var(--basic-black);
    background-color: transparent;
}

.order-info {
    display: flex;
    justify-content: space-around;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    list-style: none;
}
.order { 
    color: var(--basic-white);
}
.order-info .order-1 {
    
}
.order-info .order-2 {
   
}
.order-info .order-3 {

}
.button-bookmark::before {
    content: "";
    display: block;
    position: absolute;
    top: 6px;
    left: -5px;
    width: 25px;
    height: 25px;
    background: url(/img/icon-bookmark.svg) -1px -1px no-repeat;
}
.button-bookmark {
    position: relative;
    margin: 0;
    width: 100px;
    height: 30px;
    padding: 0;
    padding-left: 10px;
}
.button-bookmark:active {

}
.button-basket::before {
    content: "";
    position: absolute;
    float: left; 
    top: 5px;                                           
    left: 25px;
    width: 25px;
    height: 25px;
    background: url(/img/icon-cart.svg) -1px -1px no-repeat;
}
.button-basket {
    position: relative;
    margin: 0;
    width: 100px;
    height: 30px;
    padding: 0;
    padding-left: 35px;
}
.button-checkout {
    background-color: var(--dark-green);
    padding: 10px 20px;
}
.button-checkout:hover {
    background-color: #76c74a;
}
.button-checkout:active {
    color: rgba(248, 246, 246, 0.5);
}


.button-basket-catalog {
    background-color: #EE3643;
}


.header-info-shop-wrapper {
    display: flex;
    justify-content: space-around;
    margin: 0;
    width: 100%;
    height: 200px;
 
    /* border: 4px solid red; */
}
.header-info-shop {
    font-family: "Cuprum Italic", Georgia, serif;
    font-size: 14px;
    color: var(--bright-red);
    align-items: flex-start;
}
.contacts {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0;
    padding: 0;
    border: 4px solid red;
}
.contacts-phone::before {
    content: ""; 
    float: left; 
    position: relative; 
    top: 5px;
    left: 5px;  
    height: 30px; 
    width: 30px;
    background: url(/img/icon-phone.svg) -1px -1px no-repeat;
}

.contacts-phone {
    font-family: "Cuprum", Arial, sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 18px;
    width: 245px;
    height: 45px;
    color: var(--bright-red);
    border: 3px solid var(--basic-white);
    background-repeat: no-repeat;
}
.adress {
    font-family: "Cuprum", sans-serif;
    font-size: 14px;
    color: var(--deep-light-blue);
}
.login-link-wrapper {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 200px;

    /* border: 6px solid blue; */
}
.login-link {
    font-family: "Cuprum", Arial, sans-serif;
    text-align: center;
    font-size: 21px;
    line-height: 21px;
    list-style: none;
    width: 600px;
    height: 150px;
    margin: 0;
    padding-left: 0;
    /* display: flex; */


    border: 5px solid rgb(47, 127, 88);
}
.login-link .login {

}
.button-login::before {
    content: "";
    display: block;
    position: relative;
    float: left; 
    top: 3px;
    left: 687px;
    width: 25px;
    height: 25px;
    background: url(/img/icon-login.svg) -1px -1px no-repeat;
}
.button-login {
    color: var(--deep-light-blue);
    padding: 10px 30px;
    border: 1px solid var(--basic-white);
    background-color: var(--basic-white);
}
.button-login:hover {
    color: var(--bright-red);
}
.button-login:focus {
    color: var(--bright-red);
}
.button-login:active {
    color: #808080;
}

.login-link .registration {
    margin-top: 20px;
}
.button-registration {
    font: inherit;
    color: var(--deep-dark-blue);
    border: 1px solid var(--basic-white);
    padding: 10px 30px;
    color: var(--deep-light-blue);
    border: 1px solid var(--basic-white);
    background-color: var(--basic-white);
}
.button-registration:hover {
    color: var(--bright-red);
}
.button-registration:focus {
    color: var(--bright-red);
}
.button-registration:active {
    color: #808080;
}



.login-link-catalog {
    display: flex;
}
.login-user {
    margin: 0;
    position: absolute;
}
.login-user a::after {
    content: "";
    position: relative;
    display: block;
    margin: 0;
    float: left;
    top: -8px;
    right: 40px;
    width: 35px;
    height: 45px;
    background: url(../img/icon-user.svg) 1px 1px no-repeat;
}
.login-user a {
    display: block;
    align-items: center;
    text-align: center;
    margin: 0;
    height: 40px;
    width: 300px;
    padding-top: 15px;
    color: var(--basic-black);
    background-color: var(--basic-white);
}
.login-user a::before {
    content: "";
    position: relative;
    display: block;
    margin: 0;
    float: left;
    top: -8px;
    left: 280px;
    width: 35px;
    height: 45px;
    background: url(../img/icon-logout.svg) 1px 1px no-repeat;
}
.bread-crumbs-catalog {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 120px;
}
.bread-crumbs-catalog a {
    font-size: 16px;
    color: #293449;
}



.nav-site-wrapper {
    width: 960px;
    margin: 0 auto;
    padding: 0;
    background-color: var(--deep-light-blue);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.7); 
}
.nav-site-list {
    display: flex;
    justify-content: center;
    height: 45px;
    margin: 0;
    padding: 0;
    background-color: var(--deep-light-blue);
}
.nav-site-item {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 22px;
    line-height: 24px;
    margin: auto;
}
.nav-site-item a {
    padding: 10px 20px;
    color: var(--basic-white);
}
.nav-site-item a:hover {
    
    background-color: var(--deep-dark-blue);
}
.nav-site-item a:focus {
    background-color: var(--deep-dark-blue);
}
.nav-site-item a:active {
    color: #808080;
}

/* Block Main */

/* Feature */

.container {
    width: 960px;
    margin: 0 auto;
    padding: 0;
}
.feature {
    display: flex; 
}
.feature-box {
    display: flex;
    flex-direction: column;
    width: 660px;
    height: 400px;
    margin-top: 50px;
    margin-bottom: 50px;
    /* border: 4px solid red; */
}
.feature-list1 {
    display: flex;
    width: 620px;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
}
.feature-box2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 400px;
    margin: 0;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0;
    /* border: 4px solid black; */
}
.feature-list2 {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
    padding: 0;
    margin: 0;
    /* border: 4px solid yellow; */
}
.feature-item a {
    display: flex;
}
.material {
    width: 300px;
    height: 90px;
    padding-top: 20px;
    padding-left: 22px;
    margin-right: 30px;
    color: var(--basic-white);
    background-color: var(--dark-yellow);
    border: 1px solid transparent;
}
.material a {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    border: 1px solid transparent;
    width: 90px;
    padding-left: 5px;
    margin-top: 10px;
    color: var(--basic-white);
    background-color: rgba(255,255,255,.3);
} 
.instrument {
    width: 300px;
    height: 90px;
    margin: 0;
    padding-top: 20px;
    padding-left: 22px;
    color: var(--basic-white);
    background-color: var(--light-blu);
    border: 1px solid transparent;
}
.instrument a {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    border: 1px solid transparent;
    width: 90px;
    padding-left: 5px;
    margin-top: 10px;
    color: var(--basic-white);
    background-color: rgba(255,255,255,.3);
}

.gallery-catalog {
    max-width: 660px;
    max-height: 330px;
    margin: 0;
}
.gallery-content1 {
    position: relative;
    max-width: 660px;
    max-height: 240px;
    z-index: 2;
}
.background {
    max-width: 620px;
    max-height: 320px;
    margin: 0;
    padding: 0;
    background-color: var(--deep-dark-blue);
    border: 2px solid var(--basic-white);
    
}
.header-gallery {
    font-family: "Cuprum", "Arial", serif;
    font-size: 36px;
    line-height: 24px;
    font-weight: 700;
    position: absolute;
    bottom: 105px;
    left: 20px;
    text-transform: uppercase;
    color: var(--basic-white);
}
.description {
    font-family: "Cuprum", "Arial", serif;
    font-size: 14px;
    line-height: 12px;
    font-weight: 700;
    position: absolute;
    bottom: 120px;
    left: 20px;
    text-transform: uppercase;
    color: var(--basic-white);
}
.gallery-content2 {
    position: relative;
    max-width: 660px;
    max-height: 240px;
    bottom: 240px;
    z-index: -1;
}
.button-gallery {
    position: absolute;
    bottom: 10px;
    left: 350px;
    width: 160px;
    height: 20px;
    text-align: center;
    z-index: 2;
}
.button-gallery a {
    text-align: center;
    padding: 0;
    margin: 0;
}
.gallary-button-back {
    content: "";
    background: url(/img/icon-left.png) 1px 1px no-repeat;
    position: absolute;
    top: 80px;
    left: 25px;
    width: 35px;
    height: 45px;
    z-index: 2;
    border: 0;
    text-decoration: none;
    /* background-color: #000000; */
}
.gallary-button-next {
    content: "";
    position: absolute;
    top: 80px;
    right: 30px;
    width: 35px;
    height: 45px;
    z-index: 2;
    transform: rotate(180deg);
    border: 0;
    text-decoration: none;
    background: url(/img/icon-left.png) 1px 1px no-repeat;
    /* background-color: #000000; */
}
.construction {
    width: 280px;
    height: 90px;
    padding-top: 20px;
    padding-left: 20px;
    margin: 0;
    margin-bottom: 20px;
    color: var(--basic-white);
    background-color: var(--lilac);
    border: 1px solid transparent;
}
.construction a {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    border: 1px solid transparent;
    width: 80px;
    padding-left: 15px;
    margin-top: 10px;
    color: var(--basic-white);
    background-color: rgba(255,255,255,.3);
}
.sale {
    width: 280px;
    height: 90px;
    padding-top: 20px;
    padding-left: 20px;
    margin-bottom: 20px;
    color: var(--basic-white);
    background-color: var(--dark-green);
    border: 1px solid transparent;
}
.sale a {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    border: 1px solid transparent;
    width: 90px;
    padding-left: 10px;
    margin-top: 10px;
    color: var(--basic-white);
    background-color: rgba(255,255,255,.3); 
}
.delivery {
    width: 280px;
    height: 90px;
    padding-top: 20px;
    padding-left: 20px;
    color: var(--basic-white);
    background-color: var(--yellow);
    border: 1px solid transparent;
}
.delivery a {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    border: 1px solid transparent;
    width: 80px;
    padding-left: 15px;
    margin-top: 10px;
    color: var(--basic-white);
    background-color: rgba(255,255,255,.3);
}

/* Popular product */

.wrapper-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--color-bez);
}
.header-popular {
    margin-left: 20px;
    text-transform: uppercase;
}
.button-popular {
    font-size: 18px;
    width: 200px;
    margin: auto;  /* (надо прижать к правому краю) */
    text-align: center;
}
.product-list {
    display: flex;
    justify-content: space-around;
}
.price-out {
    color: #808080;
    text-decoration: line-through;
}
.price {
    color: var(--basic-white);
    padding: 10px 20px;
    background: url(/img/red-button.svg) 15px 1px no-repeat;
}
.brand-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
}
.brand-item {
    width: 220px;
    height: 145px;
    margin-bottom: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.brand-item:hover {
    box-shadow: 
    0 2px 2px
        rgba(0, 0, 0, 0.2),
    0 0  0 2px 
        rgba(255, 255, 255),
    0.3em 0.3em 1em
         rgba(0, 0, 0, 0.2);
}
.bosch {
    padding-top: 50px;
    padding-left: 30px;
}
.makita {
    padding-top: 50px;
    padding-left: 40px;
}
.dewalt {
    padding-top: 50px;
    padding-left: 40px;
}
.inter {
    padding-top: 50px;
    padding-left: 40px;
}
.hitachi {
    padding-top: 50px;
    padding-left: 40px;
}
.lg {
    padding-top: 30px;
    padding-left: 40px;
}
.aeg {
    padding-top: 30px;
    padding-left: 40px;
}
.metabo {
    padding-top: 50px;
    padding-left: 40px;
}

/* Service  */

.service {
    background-color: var(--color-backrgoud);
    width: 960px;
    height: 500px;
    position: relative;
}
.description-service {
    font-family: "PT Sans", Times, serif;
    font-size: 12px;
    font-weight: 400;
    width: 400px;
    margin-left: 20px;
}
.wrapper-service {
    display: flex;
}
.service-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 55px;
    padding-left: 20px;
}
.service-list ::after {
    content: "";
    position: absolute;
    display: block;
    top: 150px;                                                 
    left: 211px;
    width: 10px;
    height: 200px;
    background: url(../img/services-shadow.png) 4px 1px no-repeat; 
}
.service-delivery {
    font-family: "Cuprum Bold", "Arial", sans-serif;
    text-decoration: none;
    border: 1px solid transparent;
    color: #293449;
    background-color: var(--basic-white);
    text-align: left;
    width: 200px;
    height: 50px;
    padding-left: 15px;
}
.service-item {
    font-family: "Cuprum Bold", "Arial", sans-serif;
    text-decoration: none;
    border: 1px solid transparent;
    color: #F9F5F0;
    background-color: var(--deep-light-blue);
    text-align: left;
    width: 200px;
    height: 50px;
    padding-left: 15px;
}
.service-item:hover {
    background-color: var(--deep-dark-blue);
    cursor: pointer;
}
.service-info {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-top: 20px;
    margin-left: 60px;
}
.header-info-delivery {
    text-transform: uppercase;
    font-size: 28px;
    color: #293449;
}
.description-delivery {
    font-family: "PT Sans", "Times", serif;
    font-size: 12px;                             
    font-weight: 400;
    text-align: start;
}
.description-delivery::after {
    content: "";
    position: absolute;
    display: block;
    top: 150px; 
    left: 460px;
    width: 500px;
    height: 300px;
    background: url(../img/service-delivery.png) 30px 30px no-repeat;
}

 /* Info-company */

 .info-company-contacts {
    display: grid;
    grid-template-columns: 1fr 1fr;
 }
.description-company {
    font-family: "PT Sans", "Times", serif;
    font-size: 12px;
    font-weight: 400;
    color: #000000;
    width: 455px;
    margin-left: 20px;
}
.option {
    margin-top: 20px;
    margin-bottom: 0;
}
.delivery-list {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-black);
    box-sizing: border-box;
    padding-left: 37px;
    margin-top: 0;
    margin-bottom: 20px;
}
.delivery-item {
     margin-bottom: 15px;
}
.end {
    margin-bottom: 30px;
}
.button-delivery {
    display: block;
    width: 210px;
    margin-left: 20px;
    text-align: center;
}
.wrapper-contacts {
    margin-left: 185px;
}
.description-contacts {
    font-family: "PT Sans", "Times", serif;
    font-size: 12px;
    font-weight: 400;
    color: #000000;
    width: 300px;
    margin-left: 20px;
    margin-bottom: 30px;
}
.img-map {

}
.button-lost {
    border: none;
    margin-top: 20px;
    width: 300px;
    height: 40px;
}

/* Footer */

.main-footer {
    width:  100%; /* не работает */
    background-color: var(--deep-dark-blue);
}
.wrapper-footer {
    width: 960px;
    height: 140px;
    margin-top: 40px;
    background-color: var(--deep-light-blue);
}
.footer-logo {

}
.footer-nav-list {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 500px;
    margin-left: auto;
    margin-bottom: 0;
    /* background-color: red; */
}
.footer-nav-item a {
    font-size: 16px;
    color: var(--basic-white);
}
.footer-nav-item a:hover {
    text-decoration: underline;
    color: var(--basic-white);
}
.adress-footer {
    font-size: 16px;
    color: var(--basic-white);
    margin: 0;
    width: 300px;
    /* background-color: red; */
}
.footer-contacts-phone {
    display: block;
    font-size: 16px;
    color: var(--basic-white);
    margin: 0;
    width: 200px;
    /* background-color: red; */
}
.footer-offer-list {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 500px;
    margin-top: 0;
    margin-left: auto;
    margin-bottom: 0;
    /* background-color: red; */
}
.footer-offer-item a {
    font-size: 16px;
    color: var(--yellow);
}
.footer-offer-item a:hover {
    text-decoration: underline;
    color: var(--yellow);
}
.wrapper-social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    width: 960px;
    height: 80px;
    background-color: var(--deep-dark-blue);
}
.footer-info {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 16px;
    color: var(--basic-white);
    margin: 0;
}
.footer-social {
    display: flex;
}
.social-button:hover {
    background-color: #EE3643;
}
.feedback {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 16px;
    color: var(--basic-white);
    margin-right: 20px;
}
.footer-feedback {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 16px;
    color: var(--yellow);
}
                                                /* проставить везде лайн-хеитс
                                                по очереди или отдельно внизу
                                                проставить в фон феймили второй стиль взять в ковычки */
 /* Catalog */

 .bread-crumbs-catalog2 {
    display: flex;
    justify-content: space-between;
    width: 300px;
    position: relative;
 }
 .bread-crumbs-catalog2 a {
    font-family: "PT Sans", "Times", serif;
    font-weight: 400;
    font-size: 13px;
    text-transform: uppercase;
    color: #000000;
 }
 .icon-home::after {
    content: "";
    position: absolute;
    display: block;
    left: 6px;
    width: 25px;
    height: 25px;
    background: url(../img/icon-home.svg) 3px 3px no-repeat;
 }
 .catalog-perforator {

 }
.header-catalog {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 28px;
    font-weight: 400;
    text-transform: uppercase;
    color: #293449;
    background-color: var(--color-backrgoud);
    height: 60px;
    padding-top: 30px;
    padding-left: 35px;
}
.header-filter {
    font-family: "PT sans", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    background-color: #f7f3ec;
    height: 30px;
    width: 180px;
    padding-top: 10px;
    padding-left: 20px;
}
.wrapper-filter-product {
    display: flex;
    margin-right: 10px;
}
.wrapper-filter {
    width: 200px;
    margin-right: 35px;
}
.fieldset {
    margin: 0;
    border: none;
    height: 150px;
    width: 200px;
    padding-left: 0;
}
.fieldset-1 {
    height: 150px;
    width: 200px;
}
.legend-price {
    font-family: "Cuprum Bold", "Arial", sans-serif;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    /* margin-bottom: 20px; */

}
.background-range {
    display: block;
    height: 60px;
    width: 200px;
    margin-bottom: 15px;
    background-color: #f7f3ec;
}
.wrapper-filter-price {
    display: flex;
    justify-content: space-between;
}
.price-filter {
    font-family: "PT Sans","Arial",sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    height: 30px;
    width: 85px;
    border: 0;
    text-align: center;
    background-color: #f7f3ec;
    text-decoration: none;
}
.fieldset-2 {
    margin: 0;
    height: 200px;
}
.manufacturers {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 15px;
    line-height: 16px;
    text-transform: uppercase;
    text-align: left;
    padding: 0;
    margin: 0;
    text-align: left;
    border: 1px solid red;
}
.manufacturers li {
    margin-bottom: 15px;
}
.manufacturers label {
    position: relative;
}
.manufacturers label:hover {
    cursor: pointer;
}
.manufacturers label::after {
    content: "";
    position: absolute;
    display: block;
    width: 23px;
    height: 23px;
    left: 0;
    top: 0;
    background: url(../img/checkbox-off.svg) 0 0 no-repeat; /*(менять иконку с помощью JS через toggle ?)*/
}
.manufacturers li:last-child {
    margin-bottom: 0;
}
.input-manufacturers {
    margin-right: 25px;
    padding-left: 0;
}
.fieldset-3 {
    height: 100px;
}
.fieldset-manufacturers-supply {
    font-family: "PT Sans Bold","Arial",sans-serif;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    margin: 0;
    padding-top: 15px;
    width: 200px;
    border-top: 2px solid #f7f3ec;
}
.supply {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 15px;
    line-height: 16px;
    text-transform: uppercase;
    text-align: left;
    padding-top: 15px;
    padding-left: 0;
    margin: 0;
}
.supply li {
    margin-bottom: 15px;
}
.supply li:last-child {
    margin-bottom: 0;
}
.input-supply {
    margin-right: 25px;
    padding-left: 0;
}
.button-show {
    font-family: "PT Sans","Arial",sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    box-sizing: border-box;
    margin-top: 24px;
    cursor: pointer;
    width: 100%;
    height: 38px;
    border: 1px solid #e5e5e5;
    background: 0 0;
}
.wrapper-product {
    width: 800px;
    min-height: 1090px;
    margin: 0;
    padding: 0;
    border: 5px solid blueviolet;
}
.wrap-sorting {
    display: flex;
    justify-content: space-between;
    background-color: #f7f3ec;
    height: 40px;
    align-items: center;
    margin-bottom: 30px;
}
.product-sorting {
    font-family: "PT Sans","Arial",sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    margin-left: 25px;
    border: 1px solid blue;
    width: 100px;
    height: 20px; 
}
.sorting-list {
    display: flex;
    width: 350px;
    justify-content: space-around;
    border: 1px solid green;
    margin-right: 60px;
}
.sorting-item {
    font-family: "PT Sans","Arial",sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    color: rgba(0,0,0,.3);
    border-bottom: 1px dotted red;
}
.sorting-item:nth-child(n+2):hover {
    color: #000000;
    cursor: pointer;  
}
/* .sorting-item:not(:first-child):hover {
    color: #000000;
    cursor: pointer;  
} */
.sorting-color {
    color: red;
}
.sorting-item:nth-child(1):hover {
    color: red; 
} 
.catalog-product-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    justify-content: center;
    border: 1px solid red;
}
.catalog-product-list li {
    margin-bottom: 15px;
    margin-right: 15px;
}
/* .catalog-product-list li:nth-child(7n-9n) {
    margin-bottom: 0;
}  */
.catalog-product-item {
    width: 200px;
    min-height: 150px;
    margin-right: 15px;
    margin-bottom: 25px;
    outline: 1px solid #e5e5e5;
    margin: 0;
    padding: 0;
}
.catalog-product-item:nth-child(3n) {
    margin-right: 0;
}
.catalog-product-item li:nth-child(7n-9n) {
    margin-bottom: 0;
}
.number-page-list {
    display: flex;
    min-width: 200px;
    min-height: 38px;
    margin-top: 80px;
    margin-bottom: 80px;  
}
.number-page-item {
    font-family: "PT Sans","Arial",sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    width: 38px;
    height: 38px;
    text-align: center;
    padding: 10px 15px;
    box-sizing: border-box;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    margin: 0;
    margin-right: 20px;
}                             /* увеличить область клика */
.number-page-item a {
    color: #000000;
}
.number-page-item:first-child {
    color: var(--basic-white);
    background-color: var(--bright-red);
}
.number-page-item:nth-child(4n) {
    width: 138px;
    height: 38px;
    margin-right: 0;
}
.number-page-item:hover {
        border: 1px solid #808080;
        transition: color ease-in .4s;
}
.number-page-item:hover:nth-child(1) {
    border: 1px solid #2516c9;
    transition: color ease-in .4s;
}
.page-next a{
    font-family: "PT Sans","Arial",sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
}
.wrap-about-perforator {
    display: flex;
    flex-direction: column;
    background-color: var(--color-backrgoud);

    width: 100%;
    height: 200px;
    margin: 0;
    border: 1px solid red;
}                            /* расположить в центре */
.header-about-perforator {
    font-family: "Cuprum","Arial",sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 22px;
    text-transform: uppercase;
    width: 400px;
    height: 38px;
    color: #000000;
    box-sizing: border-box;
    margin: 0;
}
.text-about-perforator {
    font-family: "PT Sans","Arial",sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    min-width: 700px;
    height: 100px;
    color: #000000;
    box-sizing: border-box;
    margin: 0;
}
.footer-catalog {
    margin-top: 0;
}                                   /*  ДОБАВИТЬ в код новые обертки и отцентровать их. В оберках код центрирования 
                                                with 960px, margin 0 auto , padding 0 10px
                                                     Отредачить все размеры - добавить max-with в текстах 
                                                        Выравнить все иконки, оставить для них место, прописать ширину для элемета/текста
                                                        в карточках использовать маржины а не спейс-биитвин
                                                        в див можно обернуть целую секцию
                                                        у списков и загаловков обнулить маржин
                                                        корзина оформить заказ можно сделать через инлайн-блок и указать маржин
                                                        каждый лейбл и инпут обернут в тег p
                                                        добавить гриды*/